
.body{
    background-color: white;
}
.h1{
   margin-left: 580px;   
}
.box{
    height: 200px;
    width: 400px;
    margin: 10px auto;
}
.merah{
    height: 100px;
    width: 400px;
    background-color: #f70d0d;
}
.putih{
    height: 100px;
    width: 400px;
    background-color: #ccc7c7d3;
ool 